#accordion .glyphicon {
    margin-right: 10px;
}

.panel-group a {
    text-decoration: none;
}

.panel-group a:hover {
    color: rgb(16, 91, 161);
}

.panel-collapse>.list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
}

.panel-collapse>.list-group {
    margin-bottom: 0;
}

.panel-collapse .list-group-item {
    border-radius: 0;
}

.panel-collapse .list-group .list-group {
    margin: 0;
    margin-top: 10px;
}

.panel-collapse .list-group-item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item:last-child {
    padding-bottom: 0;
}

.panel-collapse div.list-group div.list-group {
    margin: 0;
}

.panel-collapse div.list-group .list-group a.list-group-item {
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item {
    border-top: 1px solid #DDD !important;
}

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
}

.sidebar-nav .navbar {
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
}

.sidebar-nav .navbar ul {
    float: none;
    display: block;
}

.sidebar-nav .navbar li {
    float: none;
    display: block;
}

.sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-nav {
    margin: 0;
}

.navbar-collapse {
    padding: 0;
}

.sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
}

.sidebar-nav .navbar li a>.caret {
    margin-top: 8px;
}

.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

.panel-heading div span {
    margin-left: 5px;
}

.panel-body {
    display: none;
}

.tab-content {
    padding: 20px;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-radius: 0px 0px 5px 5px;
}